.menu {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  box-sizing: border-box;

  justify-content: space-between;
  /* align-items: center; */
  align-self: stretch;
  flex-flow: wrap;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.menu > div {
  z-index: 2;
}

.menu > .right {
  display: flex;
  padding: var(--spacing-spacing-none, 0px);
  align-items: flex-start;
  gap: 4px;
}

.bottom.right {
  position: absolute;
  bottom: 0;
  right: 0px;
  margin: 16px;
}

@media (max-width: 992px) {
  .menu {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
