.button {
  border-radius: 200px;
  background: #ebebeb;
  display: flex;
  width: fit-content;
  height: 44px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 44px;
}

.button.noRound {
  display: inline-flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
}

.button > .cta {
  color: var(--Blackish, #272727);
  leading-trim: both;
  text-edge: cap;

  /* Portal Desktop/Baseline Medium */
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button.active {
  border-radius: 26px;
  background: #326d43;
}
.button:hover {
  background: #cccccc;
}

.content {
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 5;
}

.right > div > .content {
  left: unset;
  right: 0px;
}

.sideContent {
  position: absolute;
  top: 0px;
  left: 60px;
  height: 60px;
}

.button-container {
  position: relative;
}

@media (max-width: 992px) or (max-height: 500px) {
  svg > .turnWhite {
    /* fill: white !important; */
    stroke: white !important;
  }
  svg > .fill {
    fill: white !important;
    /* stroke: white !important; */
  }
  .button {
    background: none !important;
  }

  .button > .cta {
    color: var(--White, #fff);
    leading-trim: both;
    text-edge: cap;

    /* Portal Desktop/Small Medium */
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
